/* VARIABLES */
:root {
    --primary : #AFD0BF;
    --primary-light : #E2EFDE;
    --primary-extra-light : #F7FDF6;
    --primary-dark : #808F86;
    --secondary : #F4B266;
    --secondary-light : #FFF4E7;
    --gris-fonce : #575757;
    --gris-clair : #F2F2F2;
    --gris-très-clair : #f8f8f8;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Englebert'; 
  src: url(../fonts/Englebert-Regular.ttf);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Englebert', sans-serif;
}

p, a, li{
    font-family: 'Poppins', sans-serif;
}

li>a{
    text-decoration: none;
    color: grey;
}

img{
    width: 100%;
    height: auto;
}


/* Menu */

#block-drupal-identitedusite>a>img{
    width: 75%;
}
.menu-header ul.menu li a{
  display: block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.menu-header ul.menu li a:hover{
  background-color: var(--secondary);
  color: var(--gris-fonce);
}

.menu-header.first{
  border-bottom: 3px solid var(--gris-clair);
}
/* --------------------------------- */

/* Version PC */
@media (min-width: 992px){
  .menu-header ul.menu li a{
      border: none;

  }

  .menu-header ul.menu li{
      display: inline-block;
  }

  .menu-header.first{
      border-right: 1px solid var(--gris-clair);
      border-bottom: none;
  }
  .view-id-product_homepage .view-content{
    flex-direction: row !important;
  }
  
  .view-id-product_homepage .views-row{
    width: 25%;
    padding: 10px;
  }

  .content-full-wb-odd{
    flex-direction: row !important;
  }

  .boucle-sous-bandeau{
    height: 10%!important;
  }

  #block-drupal-lastcontent .field__item{
    grid-template-columns: 1fr 1fr!important;
  }

  .last-content-odd-table2{
    flex-direction: row !important;
  }

  .last-content-odd-table2 td{
    padding: 10px!important;
  }

  .bouton-table1{
    padding: 10px 10px!important;
    font-size: 1.5em!important;
  }

  .bouton-table2{
    padding: 10px 10px!important;
    font-size: 1.5em!important;
  }

  .boucle-prefooter{
    height: 60%!important;
    left: 0;
  }

  .menu-prefooter{
    gap: 20px!important;
  }

  footer{
    padding: 40px 80px!important;
  }

  #block-drupal-noussuivre>.field__item{
    width: 15%!important;
  }
}
/* --------------------------------- */


/* Bandeau Page d'accueil */
.highlighted-wrapper{
  background: url("../images/bg-head-home.jpg");
  background-size: cover;
  padding: 40px 0;
  margin-bottom: 40px;
  color: white;
  text-align: center;
  position: relative;
}

.highlighted-wrapper .contextual-region{
  position: static;
}

.highlighted-wrapper a{
  position: absolute;
  text-decoration: none;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fab768;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.highlighted-wrapper img{
  width: 5%;
  height: auto;
  margin-bottom: 20px;
}

.highlighted-wrapper #barre{
  border: white 3px solid;
  background-color: white;
  width: 10%;
  height: 3px;
  margin: 15px auto 15px;
}
/* --------------------------------- */ 


/* Vue Produits */
#block-drupal-views-block-product-homepage-block-1>h2{
  text-align: center;
}

.view-header{
  text-align: center;
  margin-bottom: 40px;
}

.view-header .barre-vue{
  border: var(--primary-light) 3px solid;
  background-color: var(--primary-light);
  width: 10%;
  height: 3px;
  margin: 15px auto 15px;
}

.view-header>p{
  margin-bottom: 30px;
}

.view-header a{
  text-decoration: none;
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.view-id-product_homepage .view-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.view-id-product_homepage .views-row{
  width: 90%;
  padding: 10px;
}

#block-drupal-views-block-product-homepage-block-1 .field--name-field-image-product{
  border: var(--gris-clair) 2px solid;
  border-radius: 20px;
  padding: 10px;
}

.node--type-wishlist-item>h2 span{
  display: inline-block;
  font-size: 0.5em;
  font-weight: lighter;
  color: var(--gris-fonce);
  text-decoration: none;
}

#block-drupal-views-block-product-homepage-block-1 .field--name-field-price{
  color: var(--gris-fonce);
  font-weight: bold;
}
/* --------------------------------- */

/* Sous-bandeau Page d'accueil */

.content_full_wd-wrapper{
  background-color: var(--primary-light);
  border-top: var(--primary) 3px solid;
  border-bottom: var(--primary) 3px solid;
  padding: 40px 0;
  margin-bottom: 40px;
  position: relative;
}

.content_full_wd-wrapper .contextual-region{
  position: static;
}

.content-full-wb-odd{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--primary-light);
  text-align: center;
}

.content-full-wb-odd svg{
  width: 15%;
  margin-bottom: 10px;
}

.content-full-wb-odd td{
  padding: 40px;
}

.content-full-wb-odd h6{
  font-size: 2em;
}

.content-full-wb-odd p{
  font-size: 1.5em;
}

.boucle-sous-bandeau{
  position: absolute;
  width: 20%;
  height: auto;
  top: 0;
  right: 5%;
  transform: translate(0, -100%);
}
/* --------------------------------- */

/* Last Content */

.last_content-wrapper{
  margin-bottom: 40px;
}

#block-drupal-lastcontent .field__item{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.last-content-table1{
  background-color: var(--secondary-light);
  border-collapse: initial;
  padding: 40px 20px;
}

#barre-table1{
  border: var(--secondary) 3px solid;
  background-color: var(--primary-light);
  width: 10%;
  height: 3px;
  margin-bottom: 20px;
}

.last-content-table1 p{
  font-weight: 600;
  margin-bottom: 30px;
}

.last-content-odd-table2{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.last-content-odd-table2 td{
  padding: 0 0 40px 0;
}

.bouton-table1{
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--secondary-light);
  padding: 15px 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
}

.last-content-table2{
  background-color: var(--primary-light);
  border-collapse: initial;
  padding: 40px 20px;
}

#barre-table2{
  border: var(--primary) 3px solid;
  background-color: var(--secondary-light);
  width: 10%;
  height: 3px;
  margin-bottom: 20px;
}

.last-content-table2 p{
  font-weight: 600;
  margin-bottom: 30px;
}

.bouton-table2{
  text-decoration: none;
  background-color: var(--primary);
  color: var(--primary-light);
  padding: 15px 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
}
/* --------------------------------- */

/* PreFooter */

.prefooter{
  background-color: var(--primary);
  position: relative;
}

.prefooter .contextual-region{
  position: static;
}

.boucle-prefooter{
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  left: 5%;
  transform: translate(0, -80%);
}

.menu-prefooter{
  list-style: none;
  gap: 5px;
  padding: 5px;
  margin: 0;
  
}

.menu-prefooter li a{
  padding: 10px;
  color: var(--gris-très-clair);
}
/* --------------------------------- */

/* Footer */

footer{
  background-color: var(--gris-fonce);
  color: var(--gris-très-clair);
  padding: 40px 20px;
}

.region-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#barre-footer{
  border: var(--gris-très-clair) 3px solid;
  background-color: var(--gris-très-clair);
  width: 50%;
  height: 3px;
}

#block-drupal-noussuivre>.field__item{
  width: 60%;
}

#block-drupal-noussuivre>.field__item table{
  width: 100%;
}
/* --------------------------------- */